@page "/"

@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Authorization

@inject ghostlight.Client.Services.AppState _appState
@inject ghostlight.Client.Services.API API
@inject IModalService _modalService

<AuthorizeView>
    <Authorized>
            <div class="row">
                <div class="mx-auto">
                    <h3>You Are Signed In</h3>
                </div>
            </div>
    </Authorized>
    <NotAuthorized>
        <div class="row">
            <div class="mx-auto">
                <a class="btn btn-lg btn-outline-success btn-home mt-5" href="authentication/login">Log in</a>
            </div>
        </div>
        <div class="row">
            <div class="mx-auto">
                <a class="btn btn-lg btn-outline-primary btn-home mt-5" href="authentication/register">Register</a>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>
<div class="row mt-5">
    <div class="col-md-4 offset-md-4">
        <p class="app-desc">
            'ghostlight' is my Blazor WebAssembly Template. Microsoft provides several versions of templates for Blazor apps - they work great. My personal preference for a template is to have more functionality. This template provides simple pages and components that show CRUD ops, API calls, Authentication/Authorization with Identity.
        </p>
        <p class="app-desc text-center mt-5">
            Visit the code repo at github to clone the project and get started
        </p>
    </div>
</div>
<div class="row">
    <div class="mx-auto">
        <a class="btn btn-lg btn-outline-primary btn-home" href="https://github.com/dahln/ghostlight/tree/plus" target="_blank">Go to Github</a>
    </div>
</div>
<div class="row mt-5">
    <div class="mx-auto">
        <a href="https://github.com/dahln/ghostlight/blob/master/LICENSE" target="_blank">License &amp; Terms</a>
    </div>
</div>

@code {

    [Parameter]
    public string FolderId { get; set; }

    async protected override Task OnInitializedAsync()
    {
        _appState.OnChange += StateHasChanged;

        await _appState.UpdateAppState();
    }

    public async override Task SetParametersAsync(ParameterView parameters)
    {
        await base.SetParametersAsync(parameters);

        var result = await _appState.UpdateAppState(FolderId);
    }

}

